.StartknappBox {
width:200px;
	padding: 0px; 
	text-align: center; 
	float:right; 
	margin-right:355px;
}
/* div box för startknappen för att ta sig till startsidan */
.TvaknapparBox {
	padding: 0xp; 
	text-align: left;
	float:left;
}
/* div box för Sök och Profil knapp */
.KundvagnIkonbox{
padding: 30px;
text-align: right;
float:right;
}
/* div box för kundvagns knappen */
.Kundvagnbox {
text-align: center;
padding: 125px;
}
/* CSS för något inne på kundvagnen*/
